.invisible {
    display: none;
}
.visible {
    display: block;
}
.active {
    background-color: #ffffff; /* Active button background color */
    color: #000000; /* Active button text color */
    border-color: rgb(212 212 212); /* Active button border color */
}

.active-team::after, .team-button:hover::after {
    opacity: 1;
    transform: translateY(6px);
}

.team-button::after {
    background-color: #d81e00;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(12px);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    width: 100%;
}

.active-team {
    position: relative; /* Required for the ::after pseudo-element */
}

.active-team::after {
    opacity: 1; /* Ensure the ::after element is always visible */
    transform: translateY(6px); /* Ensure the ::after element is in the correct position */
}

button {
    background-color: transparent; /* Inactive button background color */
    color: #6b7280; /* Inactive button text color */
    border-color: #d1d5db; /* Inactive button border color */
    position: relative; /* Required for the ::after pseudo-element */
}

.tab-content {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(20px);
    opacity: 0;
}

.tab-content.visible {
    transform: translateY(0);
    opacity: 1;
}

.flex {
    display: flex;
}

.hidden-teams {
    display: none;
}

/* Styles for the modal overlay */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 40; /* Ensure it is below the modal but above other content */
}
